{
	"extends": ["google"],
	"parser": "babel-eslint",
	"ignorePatterns": ["node_modules/"],
	"env": {
		"browser": true,
		"jquery": true,
		"node": true
	},
	"rules": {
		"max-len": ["error", {"code": 150}],
		"no-tabs": ["error", { "allowIndentationTabs": true }],
		"require-jsdoc": "off",
		"valid-jsdoc": "off",
		"indent": ["error", 4],
		"object-curly-spacing": ["error", "always"],
		"eol-last": ["error", "always"]
	}
}
