/**
 * Vendor
 */
// http://bourbon.io/docs/
// @import 'bourbon';

/**
 * Base
 */
@import "tools/normalize";
// @import 'base/fonts';
@import "base/base";
@import "variables";

html {
  background: transparent;
}

body {
  width: $banner-width;
  height: $banner-height;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: transparent;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

.preloader {
  z-index: 1;
}

.preloader,
#wrapper {
  overflow: hidden;
  width: $banner-width;
  height: $banner-height;
  background: #ccc;
  font-family: $primary-font;
}

// put your stuff here

@import "layouts/centered";
