doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block title
    meta(name="viewport", content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap')
    block metaSize
    script(src="https://s0.2mdn.net/ads/studio/Enabler.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    //-script(src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js")
    block clicktags
  body.loading
    .preloader
      div
      div
    block content
    script(type='text/javascript').
      (function() {

        window.onload = function() {
          if (Enabler.isInitialized()) {
              enablerInitHandler();
          } else {
              Enabler.addEventListener(studio.events.StudioEvent.INIT, enablerInitHandler);
          }
        }

        function enablerInitHandler() {
          // If page is loaded do Polite load of assets
          if (Enabler.isPageLoaded()) {
            politeInit();
          } else {
            Enabler.addEventListener(studio.events.StudioEvent.PAGE_LOADED,
            politeInit);
          }
        }

        function politeInit (){
          console.log('Polite loading scripts');

          //Feed assets for polite loading
          politeLoad(["https://s0.2mdn.net/ads/studio/cached_libs/cssplugin_1.20.4_5c12878a0fe9f741c5b72eb26497a737_min.js",
                      "https://s0.2mdn.net/ads/studio/cached_libs/tweenlite_1.20.4_42916b5332cef8519c5950778ee2e41d_min.js",
                      "https://s0.2mdn.net/ads/studio/cached_libs/timelinemax_1.20.4_9578d7e776129679d749ddee3541bbce_min.js",
                      "https://s0.2mdn.net/ads/studio/cached_libs/easepack_1.20.4_7e44068dd65b1e3f82dec52f780163c8_min.js","js/main.js"], pageLoadedHandler);
        }

        // Preload assets
        function politeLoad(urls, onComplete){
            var l = urls.length,
                loaded = 0,
                checkProgress = function() {
                    if (++loaded === l && onComplete) {
                        onComplete();
                    }
                },
                i;
            for (i = 0; i < l; i++) {
                Enabler.loadScript(urls[i], checkProgress);
            }
        };

        //If true, start function. If false, listen for VISIBLE.
        function pageLoadedHandler() {
          if (Enabler.isVisible()) {
            adVisibilityHandler();
          } else {
            Enabler.addEventListener(studio.events.StudioEvent.VISIBLE,
            adVisibilityHandler);
          }
        }

        function adVisibilityHandler() {
            // Start the animation
            App_banner.getInstance().init();
        }

      })();
